<!DOCTYPE html>
<html>
<head>
  <title>Geotree</title>
  <%= stylesheet_link_tag    "geotree/application", :media => "all" %>
  <%= javascript_include_tag "geotree/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
